@import url("https://fonts.googleapis.com/css2?family=Gafata&display=swap");
body {
  background-color: #F9F9F9;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: auto;
  list-style: none;
  list-style-position: inside;
  text-decoration: none;
  box-sizing: border-box;
}

section {
  width: 100%;
  background-color: #F9F9F9;
  z-index: -10000000;
}

.flex {
  display: flex;
}

.space-betwen {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.font {
  font-family: "Gafata", sans-serif;
}

html {
  scroll-behavior: smooth;
}

iframe {
  margin-left: 2vw;
  margin-right: 2vw;
}

@media (min-width: 0px) {
  #Dicas {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  #Dicas #Sobre {
    position: absolute;
    bottom: 125px;
  }
  #Dicas #ItemsDicas {
    display: flex;
    flex-direction: column;
  }
  #Dicas #titleDicas {
    font-weight: 100;
    text-align: center;
    width: 100%;
    max-width: 90vw;
    margin-bottom: 20px;
  }
  #Dicas #titleDicas > p {
    color: #9E9DA2;
  }
  #Dicas #titleDicas span {
    color: #75BF7A;
  }
  #Dicas #items1,
#Dicas #items2 {
    flex-direction: column;
  }
  #Dicas #item1Dicas,
#Dicas #item2Dicas,
#Dicas #item3Dicas,
#Dicas #item4Dicas {
    margin-top: 30px;
    width: 100%;
    max-width: 90vw;
    text-align: center;
    align-self: center;
  }
  #Dicas #item1Dicas > h2,
#Dicas #item2Dicas > h2,
#Dicas #item3Dicas > h2,
#Dicas #item4Dicas > h2 {
    font-size: 20px;
    font-weight: 100;
  }
  #Dicas #item1Dicas > p,
#Dicas #item2Dicas > p,
#Dicas #item3Dicas > p,
#Dicas #item4Dicas > p {
    font-size: 16px;
    font-weight: 100;
    color: #9E9DA2;
  }
  #Dicas #item4Dicas p > img {
    width: 20px;
  }
  #Dicas #celularDicas {
    margin-top: 30px;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #Dicas #celularDicas > img {
    width: 100%;
    max-width: 300px;
    max-height: 400px;
  }
  #Dicas #celularDesktop {
    display: none;
  }
}
@media (min-width: 768px) {
  #Dicas {
    margin-top: 80px;
  }
  #Dicas > #itemsDicas {
    display: flex;
    flex-direction: row;
  }
  #Dicas #items1,
#Dicas #items2 {
    flex-direction: column;
    margin-top: 30px;
  }
  #Dicas #celularDicas {
    display: none;
  }
  #Dicas #celularDesktop {
    display: block;
    margin-top: 30px;
    width: -moz-fit-content;
    width: fit-content;
  }
  #Dicas #celularDesktop > img {
    margin: 0px 0px;
    width: 100%;
    max-width: 270px;
    max-height: auto;
  }
  #Dicas #item1Dicas,
#Dicas #item2Dicas,
#Dicas #item3Dicas,
#Dicas #item4Dicas,
#Dicas #item1Dicas {
    padding-top: 35px;
    margin: 0px 10vw;
    width: 100%;
    max-width: 20vw;
  }
  #Dicas #item1Dicas > h2,
#Dicas #item2Dicas > h2,
#Dicas #item3Dicas > h2,
#Dicas #item4Dicas > h2,
#Dicas #item1Dicas > h2 {
    font-size: 20px;
    font-weight: 100;
  }
  #Dicas #item1Dicas > p,
#Dicas #item2Dicas > p,
#Dicas #item3Dicas > p,
#Dicas #item4Dicas > p,
#Dicas #item1Dicas > p {
    font-size: 16px;
    font-weight: 100;
    color: #9E9DA2;
  }
}